.cont{
    display: flex;
    width: 1472px;
    margin: -16px 0px -3px -127px;
    border: solid blue;
    height: 762px;   
}
.left-container{
    border: solid black;
    width: 259px;
    height: 758px;
    background: #905fdf;
}
.right-container{
    border: solid black;
    width: 1211px;
}
.logo{
    font-size: 120px;
    padding: 0px 0px 0px 0px;
    color: white;
    height: 0px;
    margin: 34px 0 0 0;
}
#left-cont-logo{
    margin: 52px 17px 18px 36px;
    height: 175px;
    width: 175px;
    border-radius: 50px 50px 50px 50px;
    background: #7945d1;;
}
.menu{
    margin: 47px 0 0 0;
    height: 460px;
}
#list{
    list-style: none;
    text-align: left;
    margin: 0 0 0 75px;
    gap: 25px;
    display: flex;
    flex-direction: column;
}
.right-cont-header-search_bar{
    width: 420px;
}
.search-bar{
    margin: 22px 0 0px 49px;
    height: 50px;
    border-radius: 30px 30px 30px 30px;
}
.right-cont-header-profile{
    display: flex;
    width: 572px;
    margin: 0px 0 0 760px;
}
.profile-img{
    font-size: 46px;
    margin: 15px 0 0 0px;
}
.profile-name{
    display: flex;
    margin: 32px 0 0 35px;
    font-size: 23px;
}
.right-cont-header{
    display: flex;
}
.right-cont-body{
    background: #935fe3;
    display: flex;
    width: 1140px;
    height: 190px;
    margin: 31px 0 0 31px;
    border-radius: 20px 20px 20px 20px;
}
.right-cont-body-1{
    display: flex;
    margin: -28px 0 0 1px;
    width: 514px;
}
.right-cont-body-2{
    width: 604px;

}
#heading{
    height: 42px;
    margin: 102px 0 0 7px;
}
#heading-desc{
    width: 327px;
    height: 39px;
    margin: 162px 0 0 -327px;
}
#clr{
    color: white;
}
#side-menu{
    list-style: none;
    display: flex;
    gap: 45px;
    flex-direction: column;
}
.right-cont-footer{
    border: solid black;
    width: 73em;
    height: 28em;
}
.right-cont-footer-left{
    border: solid black;
    height: 28em;
    width: 48em;
}
.right-cont-footer-left-1{
    border: solid black;
    height: 237px;
    display: flex;
}
.right-cont-footer-left-1-item-1{
    border: solid blue;
    width: 240px;
}
.right-cont-footer-left-1-item-2{
    border: solid red;
    width: 240px;
}

.right-cont-footer-left-1-item-3{

    border: solid greenyellow;
    width: 280px;
}
.img{
    height: 196px;
}



